@model IEnumerable<CareerCloud.Pocos.ApplicantJobApplicationPoco>

@{
    ViewData["Title"] = "Index";
}

<h2>Jobs Applied</h2>
<h4>Applicant: @ViewBag.Applicant</h4>
<br />

<p>
    <a asp-action="Create">Add New Job</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.JobDescription)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Job)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.JobDescription)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
