@model IEnumerable<CareerCloud.MVC.ViewModels.AppliedJobVM>

@{
    ViewBag.Title = "Applied Job";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jobs Applied</h2>
<h4>Applicant: @ViewBag.Applicant</h4>

<p>
    @*@Html.ActionLink("Create New", "Create")*@

    @using (Html.BeginForm("SearchJob", "ApplicantJobApplications", FormMethod.Get, new { @class = "form-inline" }))
    {

        @Html.TextBox("search", null, new { @class = "form-control" })
        <input type="submit" value="search" class="form-control" />


    }
<p>
    <a asp-action="Create">Add New Job</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppliedId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppliedId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AppliedId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AppliedId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AppliedId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>